@font-face{
    font-family: norseBold;
    src: url("fonts/Norse-Bold.otf");
}

:root{
    --universal-padding: 30px;
}

*{
    margin: 0;
    padding : 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.main-container{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("img/halie-west-leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: max(40vw, 600px);   
}

.logo-container{
    display: flex;
    margin-top: min(200px, 30%);
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0, 50%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.odin-img{
    width: min(80px, 10vw);
    object-fit: contain;
}

.odin-title{
    font-family: norseBold, sans-serif;
    color: white;
    font-size: min(6em, 80px);
}

.credit-paragraph{
    color: white;
    font-size: 0.7em;
    margin-bottom: min(5%, 10px);
}

a {
    color: inherit;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.main-paragraph, .account-paragraph{
    padding-left: var(--universal-padding);
}

.main-paragraph{
    font-weight: bold;
    max-inline-size: 55ch;
}

.account-paragraph{
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-link{
    font-weight: bold;
    text-decoration: none;
    color: #596D48;
}


.fields-container{
    background-color: white;
    padding-left: var(--universal-padding);
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 5px -3px gray;
}

legend{
    font-weight: bold;
}

button[type="submit"]{
    font-weight: bold;
    margin-left: var(--universal-padding);
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #596D48;
    padding: 10px 40px;
    border-radius: 6px;
    border: none;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container > *{
    display: flex;
    gap: 100px;
}

.input-container > * > *{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
    border-width: thin;
    border-color: #E5E7EB;
    border-radius: 4px;
}

input:focus{
    outline: none;
    border: solid 1px blue;
    box-shadow: 1px 1px 2px 2px gray;
}

input:user-invalid{
    outline: none;
    border: solid 1px red;
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.65em;
    letter-spacing: 0.4ch;
}





